---
import orgs from "../../resources/organizations.json";
import OrgList from "../../components/OrganizationList";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="United Orgs">
  <main>
    <OrgList client:load orgs={orgs} />
  </main>
</Layout>
