---
import Layout from "../../../layouts/Layout.astro";
import OrgList from "../../../components/OrganizationList";
import orgs from "../../../resources/organizations.json";

const { slug } = Astro.params;
console.log(slug);
const filterorg = orgs.filter((org) => org.field.toLowerCase() === slug);
const categories = [...new Set(orgs.map((org) => org.field))];
---

<Layout title="United Orgs">
  <main>
    <OrgList client:load orgs={filterorg} fields={categories} />
  </main>
</Layout>
