---
import orgs from "../../../resources/organizations.json";
import OrgList from "../../../components/OrganizationList";
import Layout from "../../../layouts/Layout.astro";

const categories = [...new Set(orgs.map((org) => org.field))];

const title = Astro.url.searchParams.get("title") || "";
const filteredOrgs = orgs.filter((orgs) =>
  orgs.name.toLocaleLowerCase().includes(title.toLocaleLowerCase())
);
---

<Layout title="United Orgs">
  <main>
    <OrgList client:load orgs={filteredOrgs} fields={categories} />
  </main>
</Layout>
