---
import organizations from "../../../resources/organizations.json";

export async function getStaticPaths() {
  return organizations.map((organization) => ({
    params: { slug: organization.slug },
    props: organization,
  }));
}

const { name, slug } = Astro.props;
---

<div>
  This page is {name}
</div>
