---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../assets/images/hero-image.svg";
---

<Layout title="United Orgs">
  <main class="max-w-[1300px] mx-auto lg:h-[912px] h-[920px] px-5">
    <div
      class="flex lg:justify-between justify-center items-center h-[100%] lg:gap-10 gap-20 lg:flex-row flex-col"
    >
      <div
        class="lg:w-[600px] lg:px-0 md:w-[620px] w-[100%] px-2 lg:text-left text-center"
      >
        <h1 class="text-4xl mb-3">Heading</h1>
        <p class="mb-4 md:text-base text-sm">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <a href="/organizations"
          ><button type="button" class="py-2 px-4 bg-primary text-white rounded"
            >See more</button
          ></a
        >
      </div>
      <div class="lg:px-0 px-10">
        <img
          src={HeroImage}
          alt=""
          class="xl:w-[500px] md:w-[400px] w-[300px]"
        />
      </div>
    </div>
  </main>
</Layout>
