---
import type { OrganizationType } from "../types/types";
import { Icon } from "astro-icon";
export interface Props {
  org: OrganizationType;
}

const { org } = Astro.props;

console.log(org);
---

<div class="p-4">
  <div
    class="flex lg:items-start lg:flex-row flex-col items-center lg:max-w-[1200px] max-w-[600px] mx-auto shadow bg-[#f4f4f4] m-3 rounded overflow-hidden hover:-translate-y-3 transition-all hover:shadow-md mb-7"
  >
    <div class="flex-shrink-0 w-[200px] h-[200px] p-5 lg:pb-5 pb-0">
      {
        org.img ? (
          <img src={org.img} alt="" class="w-[100%] h-[100%]" />
        ) : (
          <div class="w-[100%] h-[100%] bg-slate-700" />
        )
      }
    </div>
    <div class="p-6 flex-grow">
      <div
        class="md:text-left text-center flex lg:flex-row flex-col items-center gap-2 mb-3"
      >
        <h3 class="lg:text-2xl text-xl mb-1 font-bold">{org.name}</h3>
        {
          org.field ? (
            <a>
              <div class="text-sm border-2 border-primary text-primary px-1 rounded">
                {org.field}
              </div>
            </a>
          ) : (
            ""
          )
        }
      </div>

      {
        org.goal ? (
          <div class="mb-4 flex gap-2 items-start">
            <div
              class="flex-shrink-0 text-xl cursor-pointer md:inline-block hidden"
              title="Goal"
            >
              <Icon name="mdi:flag-checkered" class="w-7 inline-block" /> -
            </div>
            <p class="text-sm md:text-base">
              <span class="md:hidden inline-block">
                <Icon name="mdi:flag-checkered" class="w-7 inline-block" /> -
              </span>
              {org.goal.trim().split(" ").slice(0, 30).join(" ") + "..."}
            </p>
          </div>
        ) : (
          ""
        )
      }

      {
        org.description ? (
          <div class="mb-4 flex gap-2 items-start">
            <div
              class="flex-shrink-0 text-xl cursor-pointer md:block hidden"
              title="About"
            >
              <Icon name="mdi:information" class="w-7 inline-block" /> -
            </div>
            <p class="text-sm md:text-base">
              <span class="md:hidden inline-block">
                <Icon name="mdi:information" class="w-7 inline-block" /> -
              </span>
              {org.description.trim().split(" ").slice(0, 30).join(" ") + "..."}
            </p>
          </div>
        ) : (
          ""
        )
      }

      <div class="md:text-right text-center">
        <a href=`/organizations/${org.slug}`>
          <button
            class="py-2 px-4 bg-primary text-white rounded md:text-base text-sm"
            >See more</button
          >
        </a>
      </div>
    </div>
  </div>
</div>
