<div
  class="bg-primary text-white md:px-10 py-5 px-2 flex items-center fixed top-0 left-0 right-0"
>
  <div class="flex-1 text-xl font-bold">
    <a href="/">Unified Orgs</a>
  </div>
  <div class="flex-none">
    <a href="/organizations" class="border-2 px-3 py-2 rounded normal-case"
      >Organizations</a
    >
  </div>
</div>
