---
import OrgsData from "../resources/organizations.json";
import type { OrganizationType } from "../types/types";
import Card from "./Card.astro";
---

<section class="pt-20">
  {OrgsData.map((org) => <Card org={org as OrganizationType} />)}
</section>
